.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .footer__column_content_copyright {
    flex-basis: 200px;
  }
}

@media screen and (max-width: 650px) {
  .footer__column_content_copyright {
    flex-basis: unset;
  }
}
