.feynman__title {
  max-width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto 40px;
  padding: 0 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1300px) {
  .feynman__title {
    font-size: 60px;
  }
}
