.video__iframe {
  width: 100%;
  max-width: 515px;
  height: 316px;
  border: none;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .video__iframe {
    width: 90%;
    max-width: unset;
  }
}
