.two-columns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  max-width: 784px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .two-columns {
    flex-direction: column;
  }
}
