.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .header__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .header__title {
    font-size: 30px;
    margin-left: 10px;
    line-height: 30px;
  }
}
