.khan__book-pic {
  max-width: 620px;
  width: 100%;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 500px) {
  .khan__book-pic {
    max-width: 620px;
    width: 100%;
  }
}
